body {
	background-image: url(../images/bg_body.jpg);
	font-family: 'Verdana';
}
h1,h2 {
	font-family: 'Georgia';
	font-style:inherit;
}

h1 {
	color: #ead4aa;
	font-size: 22px;
}

h2 {
	color: #ead4aa;
	font-size: 18px;
}
p {
	color: #d7cfc8;
	font-size: 11px;
}
a {
	color: #d7cfc8;

}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}
.footer {
	width: 1000px;
	margin: 0 auto;
}

.header {
	position: relative;
	margin: 20px 0 40px 0;
}
.mainmenu{
	background: #f3f2f1;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 700px;
	height: 40px;
	text-align: center;
	padding: 20px 0 0 0;
}
.menu-item {
	margin: 0 15px;
}
.menu-item a {
	text-decoration: none;
	font-family: 'Georgia';
	color: #461500;
}
.lang-list {
	position: absolute;
	left: 0;
	top: 0;
}
.lang-list li,
.menu-list li {
	display: inline-block;
}

.auth {
	position: absolute;
	right: 0;
	top: 0;
}

.promo p {
	color: #dfc04f;
	font-size: 14pt;
	font-style: italic;
	font-family: 'Georgia';

}
.promo {
	width: 1000px;
	height: 155px;
	background: #5b2f10;
	padding: 25px;
}
.promo img {
    float: left;
	margin: 0;
}

.promo h1,p {
	margin: 0 0 30px 150px;
}
.article img {
    float: left;
	margin: 0;
}

.article h2,p {
	margin: 0 0 30px 150px;
}



